/* REMINDERS */
/* font-family: 'Roboto Condensed', sans-serif; */

/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */

* {
    margin: 0;
    Padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000000;
    font-family: "Roboto Condensed";
    font-size: 20px;
}



/* ------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------ */

/* ------ HEADINGS ---- */

.row {
    max-width: 1340px;
    margin: 0 auto;
}

h1 {
    font-size: 300%;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Agency FB', arial;    
}

/* ------ GENERIC LINKS ------ */

a:link,
a:visited {
    color: #ededed;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #c7800e;
    border-bottom: 1px solid #c7800e;
}

/* ------ BUTTONS ------ */

.btn:link, 
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 1px solid #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.shop-btn:link,
.shop-btn:visited,
input[type=submit] {
    color: #fff;
    margin-right: 15px;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #000000;
}

.shop-btn:hover,
.shop-btn:active {
    color: #fff;
    border: 1px solid #fff;
}


/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/timothy-dykes-beer.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ededed;
}

.nav-bar {
    height: 20vh;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 15vh;
    width: auto;
    float: right;
    margin-left: 20px;
    border-radius: 25px;
}

/* Main Navi */
.main-nav {
    display: inline-block;
    float: right;
    list-style: none;
    text-shadow: 4px 4px 4px #aaa;
    margin-left: auto;
    margin-right: 5vw;
}

.main-nav li {
    display: inline-block;
    margin-left: 60px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 200%;
}

/* Mobile navi */
.mobile-nav-icon {
    margin: 0 20px 0 auto;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: #ededed;
}

/* Slider */
.front-page {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 70vh;
}

.tagline {
    display: block;
    float:left;
    margin-left: 5vh;
}

.shop-btn {
    margin-top: 64px;
    margin-left: 100px;
}

.slider-container {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: 5vh;
    width: 64vh;
    overflow: hidden;
}

.cog {
    position: absolute;
}

.cog img { width: 64vh; float: left; }
    
.cog {
    animation-name: spin;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.slider {
    height: 64vh;
    width: 448vh;
}

.slider img { 
    width: 48vh; 
    float: left;
    margin: 8vh;
}

.slider {
    animation-name: bannermove;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(7, end);
}

@keyframes bannermove {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: -448vh;
    }
}

/* ------------------------------------ */
/* ABOUT */
/* ------------------------------------ */

.section-about {
    width: 1000px;
    margin: 100px auto;
    height: 400px;
}

.section-about h2 {
    text-align: center;
    margin-bottom: 50px;
}

.section-about .about-text {
    display: inline-block;
    text-align: justify;
    width: 480px;
    font-family: "Roboto Condensed";
    font-weight: 100;
}

.section-about .about-map{
    display: inline-block;
    float: right;
    height: 400px;
    width: 500px;
}

#map {
    height: 300px;
    width: 500px;
}

.map-icon {
    display: none;
    margin: auto;
}

/* ------------------------------------ */
/* Beers */
/* ------------------------------------ */

.section-beers {
    padding: 0;
    background-image: url(img/nikola-jovanovic-pub.jpg);
    height: 75vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.gear-mesh {
    width: 100vw;
    margin: 0 2vw;
}

.beers-showcase {
    position: absolute;
    list-style: none;
    width: 100vw;
}

.beers-top {
    margin-top: 3vw;
}

.beers-middle {
    margin-left: 19.5vw;
    margin-top: 22.5vw;
}

.beers-bottom {
    margin-top: 42vw;
}

.beers-showcase li {
    display: block;
    float: left;
}

.beer-image {
    position: relative;
    width: 30vw;
    overflow: hidden;
}

.l_hand { margin-right: 9vw; }

.beer-image img {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: transform 0.5s, opacity 0.5s;
}

.beer-image:hover img {
    opacity: 0.5;
    cursor: pointer;
}

.beer-image div {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 5.5%;
    left: 6.5%;
    background: black;
    color: white;
    margin-bottom: 5px;
    opacity: 0;
    visibility: hidden; 
    transition: visibility 0s, opacity 0.5s linear;
    align-items: center;
    width: 86%;
    height: 86%;
    margin: auto;
    border-radius: 15vw;
    padding: 8px 15px;
    cursor: pointer;
}

.beer-image p {
    text-align: center;
    font-family: "Roboto Condensed";
}

.beer-image:hover div {
    visibility: visible;
    opacity: 0.7;
}

/* ------------------------------------ */
/* News */
/* ------------------------------------ */

.section-news {
    background-color: #fff;
    text-align: center;
    height: 400px;
    margin: 100px 10px;
}

.section-news h2 {
    padding-bottom: 20px;
}

.news-text {
    display: block;
    width: 38vw;
    float: left;
    margin: 0 5vw;
}

.news-text p {
    margin-bottom: 40px;
}

.news-text h3 {
    margin-bottom: 40px;
}

.news-apps img {
    height: 120px;
    margin: 10px;
    cursor: pointer;
}

.fb-page {
    width: 38vw; 
    height: 400px;
    float: right;
    margin: 0 auto;
}

/* ------------------------------------ */
/* Mates */
/* ------------------------------------ */

.section-mates {
    background-color: #ededed;
    text-align: center;
    padding: 50px 0;
    height: auto;
}

.section-mates h2 {
    height: 5vw;
}

.pubs-gallery {
    width: 95vw;
    margin: auto;
}

.pub-box {
    display: block;
    float: left;
    width: 18vw;
    height: auto;
    margin: 0.5vw;
}

.mates-gallery {
    width: 94vw;
    margin: auto;
    display: flex;
    align-items: center;
}

.mate-box {
    display: block;
    float: left;
    width: 12vw;
    height: auto;
    margin: 0.5vw;
}

.box img {
    width: 100%;
    cursor: pointer;
}

.pub-box .pub-text {
    width: 18vw;
    font-size: 80%;
}
    
.mate-box .mate-text {
    width: 12vw;
    font-size: 60%;
}

.box .text {
    visibility: hidden;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    cursor: pointer;  
    position: absolute;
    z-index: 1;
}

.box:hover .text {
    visibility: visible;
}

/* ------------------------------------ */
/* Contact */
/* ------------------------------------ */

.section-contact {
    background-color: #fff;
    height: 400px;
    text-align: center;
}

.section-contact h2 {
    padding: 20px;
}

/* -------------------------------- */
/* FOOTER */
/* -------------------------------- */

footer {
    background-color: #b1b114;
    color: #fff;
}

.footer-icons {
    float: right;
    font-size: 150%;
}